*{
    margin: 0;
}
  
nav {
    div {
        background-color: rgb(229, 245, 15);
    }
}
  
.san {
    width: 300px;
    height: 300px;
}

div{
    img { 
        display: flex;
        gap: 5px;
    }
}