*{
  margin: 0;
}

img { 
  gap: 5px;
}


.equipos{
  width: 150px;
  height: 150px;
  display: flex;
}

.card-body{ 
  display: flex !important;
  justify-content: center !important;
  margin: auto;
  padding: auto;
  text-align: center;

}

.card {
  display: flex;
}

.card-text {
  background-color: red;
  border: 5px solid;
  color: white;
  text-align: center;
  margin: auto;
  padding: auto;
  text-align: center;
}

button { 
  background-color: green;
  color: greenyellow;
  margin: auto;
  padding: auto;
  text-align: center;
}

span{
  background-color: aliceblue;
  color: green;
}